.card {
    padding: 16px;
    box-shadow: 6px 5px 10px rgb(0 0 0 / 34%);
    border-radius: 12px;
    margin: 18px;
}

.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
form .form-fields {
    display: flex;
    flex-direction: column;
}